.hero{
background: linear-gradient(120deg,#000000,#434343);
padding:100px 0;
}

.profile-img{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.card{
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}